*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
header{
    padding: 15px;
    height: 180px;
    background: url(/img/fondo.png),
        linear-gradient(to right, #f25432,#b523e2);
    color: #fff;
    text-align: center;
    
}
#presupuesto{
    font-size: 35px;
}
.cajaIngresos{
    background-color: #12c1ae;
    padding: 8px;
    font-size: 15px;
    margin: auto;
    margin-bottom: 5px;
    width: 300px;
    text-align: left;
}
.total-ingresos{
    float: right;
    text-align: left;
    margin: auto;
    width: 40%;
}
.cajaEgresos{
    background-color: rgb(245, 89, 102);
    padding: 8px;
    font-size: 15px;
    margin: auto;
    margin-top: 10px;
    width: 300px;
    text-align: left;
}
.total-egresos{
    float: right;
    text-align: left;
    margin: auto;
    width: 25%;
    
}
.porcentaje{
    float: right;
    background-color: #f17f66;
    font-size: 12px;
    margin-top: 3px;
    color: #fff;
    margin-left: 3px;
}
nav{
    height: 70px;
    background-color: #eee;
    text-align: center;
}

form select{
    margin: auto;
    border: #dddada solid;
    border-radius: 2px;
    padding: 5px;
}

form input{
    margin: auto;
    border: #dddada solid;
    border-radius: 2px;
    padding: 5px;
    
}
#desc{
    width: 35%;
    margin: 0 10px 0 10px;
}
#valor{
    text-align: right;
    padding-right: 5px;
    padding-left: 0;
    width: 10%;
    margin: 0 10px 0 0;
}
form button{
    border-radius: 50%;
    width: 25px;
    border: #12c1ae solid;
    color: #12c1ae;
}
form select:focus{
    border: #12c1ae solid;
}
form input:focus{
    border: #12c1ae solid;
}
form button:hover{
    border: #b523e2 solid;
    color: #b523e2;
    cursor: pointer;
}
form button:active{
    border: #f25432 solid;
    color: #f25432;
}
